<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="39690OlexandrLeuschenko.BestDecision" Publisher="CN=20E2A481-4198-4477-8A20-6B248D4CF709" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="e02a3779-22e0-412d-9b47-db0dc7791ee1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Best Decision</DisplayName>
    <PublisherDisplayName>Olexandr Leuschenko</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BestDecision.App">
      <m3:VisualElements DisplayName="Best Decision" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Buying new notebook? Wondering which car to buy? Choosing holidays: tropical beach or a spirited trip through India? Best Decision will tell you which decision is objectively the best. Then YOU will choose whatever you please." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>